body {
  font-family: 'Source Sans Pro', 'sans-serif';
}

.main-background {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(255, 183, 183);
  min-height: 100vh;
}


.nav-bg-overlay {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  background: rgba(230, 181, 181, 0.158);
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 9px;
}

.nav-bg-overlay.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background: rgba(95, 95, 95, 0.95);
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  box-shadow: 0 2px 10px rgba(24, 24, 24, 0.2);
  padding: 0 !important;
  margin: 0 !important;
}

.nav-bg {
  background: linear-gradient(to bottom, #3f3f3f 0%, #202020 100%);
  border-radius: 8px;
  transition: all 0.3s ease;

}

.nav-bg-overlay.scrolled nav{
  border-radius: 0;
}

.hero {
  margin-top: 50px;
}

.navbar {
  background: linear-gradient(to bottom, #3f3f3f 0%, #202020 100%);
  border-radius: 10px;
}

.navbar-toggler {
  display: block;
  border: none;
  background: transparent;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: linear-gradient(to bottom, #3f3f3f 0%, #202020 100%);
  border-radius: 8px;
  
  z-index: 1050;
  top: 60%;
  min-width: 220px;
  font-size: 12px;
}

.nav-item.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
  font-size: 12px;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 70%;
  margin-left: 0.2rem;
  margin-top: -0.25rem;
  font-size: 12px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
  transition: background 0.3s ease;
}

.dropdown-item {
  background: transparent;
  color: rgb(131, 108, 108);
  text-transform: uppercase;
  font-weight: bold;

}

.dropdown-item:hover {
  background: transparent;
  color: whitesmoke;
}


.hero {
  margin-top: 120px;
}

.overlay hr {
  margin: 8px auto;
  width: 60%;
}


.nav-link,
ul {
  color: rgb(252, 219, 219) !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
}

.overlay {
  margin-top: 30px;
}

.nav-link:hover,
.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.hero-content h1 {
  font-weight: 700;
  font-size: 2rem;
}

.hero-button {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-nav {
  font-size: 14px;
  font-weight: bolder;
}

.custom-hr {
  width: 100%;
  margin: 8px auto;
  opacity: 20%;
  border: none;
  height: 1px;
}

.important-heading .content {
  padding-top: 60px;
  padding-bottom: 30px;
}

.content .custom-gray-heading {
  color: #383232;
}

.content .custom-gray-span {
  color: #8d7272f8;
}

.pixako-para {
  color: #460707;
  padding-top: 50px;
  font-weight: 500;
}

.pixako {
  color: #460707;
  font-weight: 500;
}

.second {
  background: radial-gradient(ellipse at top, #f8f8f8, #e8e8e8);
  box-shadow: inset 0 20px 40px rgba(0, 0, 0, 0.1),
    inset 0 -20px 40px rgba(0, 0, 0, 0.05);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.services p {
  color: #684545;
  font-weight: 400;
}

.custom-btn-blue {
  background-color: #2b6aa3;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: white;
  transition: background-color 0.5s ease;
}

.custom-btn-blue:hover {
  background-color: #397cb6;
}

.custom-btn-dark {
  background-color: #3b3b3b;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: white;
  transition: background-color 0.3s ease;
}

.custom-btn-dark:hover {
  background-color: #464545;
  color: whitesmoke;
}

.wait-circle-icon {
  opacity: 90%;
  color: rgb(226, 201, 201);
}

.let-arrow-icon {
  opacity: 90%;
  color: rgb(226, 201, 201);
}

.third-text {
  color: rgb(105, 104, 104)
}

.spotlight-icon {
  opacity: 60%;
  color: gray;
}

.post-icon {
  opacity: 60%;
  color: gray;
}

.reading-icon {
  opacity: 60%;
  color: gray;
}

.post-thumbnail {
  max-width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .post-thumbnail {
    width: 40%;
  }

  .continue-btn {
    text-align: center;
    font-size: 0.9rem;
  }

  .fourth h6 {
    font-size: 1rem;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media (max-width: 576px) {
  .fourth .fs-3 {
    font-size: 1.5rem;
  }
}


.fourth {
  background: radial-gradient(ellipse at top, #f8f8f8, #e8e8e8);
  box-shadow: inset 0 20px 40px rgba(0, 0, 0, 0.1),
    inset 0 -20px 40px rgba(0, 0, 0, 0.05);
  padding-top: 4rem;
  padding-bottom: 4rem;
}



.custom-footer {
  background: linear-gradient(to bottom, #2d2e31 0%, #1b1d20 100%);
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.5);
  color: #ccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  max-width: 1400px;
  margin: auto;
}

.footer-column {
  flex: 0 0 22%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-column.wide {
  flex: 1;
  min-width: 300px;
}

.footer-box h3 {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.footer-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-box ul li {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  text-transform: capitalize;
  font-weight: 200;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-box a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.footer-box a:hover {
  color: #fff;
}

.learn-more-btn {
  background: linear-gradient(to bottom, #474a4d, #313131);
  color: #fff;
  border: none;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: medium;
  margin-top: 1rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.014);
  cursor: pointer;
}


.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.25rem 2rem;
}

.contact-grid a {
  display: inline-block;
  margin-top: 0.25rem;
}

.footer-divider {
  border: 0;
  border-top: 1px solid rgba(122, 108, 108, 0.973);
  margin: 3rem 0 1.5rem;
}

.footer-credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 2rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 2rem;
}

.footer-credits a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

.footer-credits span {
  white-space: nowrap;
}

.yes-btn {
  font-size: 18px;
}

@media (max-width: 991px) {
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 102%;
    margin-left: 0.2rem;
    margin-top: -0.25rem;
    font-size: 12px;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    transition: background 0.3s ease;
  }

  .yes-btn {
    background-color: #2b6aa3;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    font-size: 16px;
    color: white;
    transition: background-color 0.5s ease;
  }

  .lets-btn {
    width: 100%;
  }

  .what-btn {
    width: 100%;
  }

  .left-sidebar {
    display: flex;
    flex-direction: column
  }

  .custom-right {
    order: -1;
  }

  .left-sidebar:nth-child(1) {
    order: 1
  }

  .left-sidebar:nth-child(1) {
    order: 2
  }

  .footer-credits span {
    font-size: 14px;
  }
}

@media (max-width: 982px) and (max-width: 1057px) {
  .continue-btn {
    background-color: #3b3b3b;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 17px;
    border-radius: 0.5rem;
    color: white;
    transition: background-color 0.3s ease;
  }
}

@media (min-width: 738px) and (max-width: 982px) {
  .continue-btn {
    font-size: 16px;
  }

  .custom-spotlight {
    width: 100%;
    height: auto;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "wide wide"
      "col1 col2";
    gap: 2rem;
  }

  .footer-column.wide {
    grid-area: wide;
    order: -1;
    /* Show first */
  }

  .footer-column:nth-child(1) {
    grid-area: col1;
    order: 1;
  }

  .footer-column:nth-child(2) {
    grid-area: col2;
    order: 2;
  }

  .learn-more-btn {
    background: linear-gradient(to bottom, #474a4d, #313131);
    color: #fff;
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
    margin-top: 1rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.014);
    cursor: pointer;
  }

  .contact-grid a {
    display: inline-block;
    margin-top: 0.25rem;
    font-size: medium;
  }

  .footer-box ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 15px;
  }

  .footer-box h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .contact-grid a {
    display: inline-block;
    margin-top: 0.25rem;
    font-size: 15px;
  }

  .footer-box p {
    font-size: 15px;
  }

}

@media (max-width: 768) {
  .shiny-text {
    text-align: center;
  }
}

@media (max-width: 737px) {
  .continue-btn {
    background-color: #3b3b3b;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.7rem 1.2rem;
    font-size: 14px;
    border-radius: 0.5rem;
    color: white;
    transition: background-color 0.3s ease;
  }


  .navbar-nav {
    gap: 10px;

  }

  .hero p {
    text-align: center !important;
  }

  .check-btn {
    text-align: center !important;
  }

  .custom-spotlight {
    width: 100%;
    height: auto;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-column.wide {
    order: -1;
  }

  .footer-column:nth-child(1) {
    order: 1;
  }

  .footer-column:nth-child(2) {
    order: 2;
  }

  .learn-more-btn {
    background: linear-gradient(to bottom, #474a4d, #313131);
    color: #fff;
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
    margin-top: 1rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.014);
    cursor: pointer;
  }

  .footer-box h3 {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .footer-box ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 13px;
  }

  .contact-grid a {
    display: inline-block;
    margin-top: 0.25rem;
    font-size: 13px;
  }

  .footer-box p {
    font-size: 13px;
  }
}

html {
  scroll-behavior: smooth;
}

.go-top-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 999;
  background: rgb(182, 179, 179);
  border: none;
  color: #fff;
  padding: 8px 14px;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.go-top-btn:hover {
  background: linear-gradient(to bottom right, #3399ff, #007bff);
}

.go-top-btn:focus {
  outline: none;
}

@media (max-width: 768px) {
  .go-top-btn {
    visibility: visible;
    display: block !important;
  }
}